* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;

}

.headerContent {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around ;
    align-items: center;
    border-bottom: 2px solid rgba(153, 148, 148, 0.877);
}

.headerContent h2 {
    color: #213163;
}

.cardsStatus {
    width: 100%;
    height: 200px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.cardStatus {
    margin: 10px;
    width: 350px;
    height: 150px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.466);
    display: flex;
    justify-content: space-between;
    align-items: center;  
    padding: 0px 25px 0px 25px;
    border-radius: 10px 0px 0px 10px;
}

.cardStatus img {
    width: 70px;
}


.green {
    border-left: 15px solid #1FBF84;
}

.lightGreen {
    border-left: 15px solid #65D930;
}

.red {
    border-left: 15px solid #D95F5F;
}




