* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    display: flex;

}

.content {
    width: 90%;
}

.sideBar {
    width: 10%;
    height: 100%;
    background: linear-gradient(to bottom, #465CA4, #1D2C5C);
}

.headerContent {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgba(153, 148, 148, 0.877);
    padding: 0px 25px 0px 25px;
}

.headerContent h2 {
    color: #213163;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile img {
    margin-left: 10px;
    width: 40px;
}

.cardsStatus {
    width: 100%;
    height: 200px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.cardStatus {
    margin: 10px;
    width: 350px;
    height: 150px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.466);
    display: flex;
    justify-content: space-between;
    align-items: center;  
    padding: 0px 25px 0px 25px;
    border-radius: 10px 0px 0px 10px;
}

.cardStatus img {
    width: 70px;
}


.cardStatusText spam {
    font-size: 30px;
}

.textStatus {
    font-size: 20px;
}
.greenCard {
    color: #1FBF84;
}
.red {
    color: #D95F5F;
}

.lightGreen {
    color: #65D930;
}


.greenCard {
    border-left: 15px solid #1FBF84;
}

.lightGreenCard {
    border-left: 15px solid #65D930;
}

.redCard {
    border-left: 15px solid #D95F5F;
}


.tableContent {
    padding: 0px 25px 0px 25px;
}

.tableContent table {
    width: 100%;
}

.eyeButton, .trashButton {
    margin: 5px;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.eyeButton {
    background-color: #875AD6;
}

.trashButton {
    background-color: #D95F5F;
}



.opcoes {
    display: flex;
    justify-content:center;
    align-items: center;
}






