/*
    JAMAIS MOFICAR A POSITION: FIXED,
    ELA QUE MANTEM O SIDE BAR NA ESQUERDA E
    SEM INFUÊNCIA DE RESPONSIVIDADE

    O BACKGROUNDLINEAR GRADIENT FOI RETIRADO DA IMAGEM ORIGINAL
    VIA ADOBE COLOR.

*/

.sideBar {
    position: fixed;
    left: 0;
    top: 0;
    width: 10%;
    height: 100%;
    background: linear-gradient(to bottom, #465CA4, #1D2C5C);
}